name: "Deploy"

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build-shard-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - id: set-matrix
        run: |
          stack=$(jq -rcM ".stacks | { stack: keys }" sharded-stacks.json)
          echo "matrix=$stack" >> $GITHUB_OUTPUT

  deploy:
    uses: ./.github/workflows/deploy-cdktf-stacks.yml
    needs: build-shard-matrix
    with:
      stacks: ${{ needs.build-shard-matrix.outputs.matrix }}
      upgrade-repositories: true
    secrets: inherit
