name: 'Repository Manager'

on:
  workflow_dispatch: {}
  push:
    branches:
    - main

jobs:
  terraform:
    name: 'Deploy'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.7
        cli_config_credentials_token: ${{ secrets.TF_CLOUD_TOKEN }}

    - uses: actions/setup-node@v1
      with:
        node-version: '14'

    - run: yarn install
    - name: Synth
      run: "$(yarn bin)/cdktf synth"
    - name: Deploy
      run: "cd cdktf.out/stacks/repos && rm -rf .terraform && terraform init && terraform apply -auto-approve"