name: "Plan"

on: [pull_request]
concurrency: ${{ github.workflow }}-${{ github.head_ref }}

jobs:
  build-shard-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - id: set-matrix
        run: |
          stack=$(jq -rcM ".stacks | { stack: keys }" sharded-stacks.json)
          echo "matrix=$stack" >> $GITHUB_OUTPUT

  diff:
    uses: ./.github/workflows/diff-cdktf-stacks.yml
    needs: build-shard-matrix
    with:
      stacks: ${{ needs.build-shard-matrix.outputs.matrix }}
      ref: ${{ github.event.pull_request.head.ref }}
      repository: ${{ github.event.pull_request.head.repo.full_name }}
    secrets: inherit

  diff_constructs:
    uses: ./.github/workflows/diff-cdktf-stacks.yml
    with:
      stacks: '{"stack":["custom-constructs"]}'
      ref: ${{ github.event.pull_request.head.ref }}
      repository: ${{ github.event.pull_request.head.repo.full_name }}
    secrets: inherit
